<div class="container">
  <div class="mt-2 row">
    <div class="col-md-4 card-zoom">
      <div class="card mr-2">
        <div class="card-body">
          <h1 class="card-title text-center"><i class="fa fa-user" aria-hidden="true"></i></h1>
          <a href="#">
            <h3 class="text-center">User</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-zoom">
      <div class="card mr-2">
        <div class="card-body">
          <h1 class="card-title text-center"><i class="fa fa-user" aria-hidden="true"></i></h1>
          <a href="#">
            <h3 class="text-center">User</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-zoom">
      <div class="card mr-2">
        <div class="card-body">
          <h1 class="card-title text-center"><i class="fa fa-user" aria-hidden="true"></i></h1>
          <a href="#">
            <h3 class="text-center">User</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2 row">
    <div class="col-md-4 card-zoom">
      <div class="card mr-2">
        <div class="card-body">
          <h1 class="card-title text-center"><i class="fa fa-user" aria-hidden="true"></i></h1>
          <a href="#">
            <h3 class="text-center">User</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-zoom">
      <div class="card mr-2">
        <div class="card-body">
          <h1 class="card-title text-center"><i class="fa fa-user" aria-hidden="true"></i></h1>
          <a href="#">
            <h3 class="text-center">User</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-zoom">
      <div class="card mr-2">
        <div class="card-body">
          <h1 class="card-title text-center"><i class="fa fa-user" aria-hidden="true"></i></h1>
          <a href="#">
            <h3 class="text-center">User</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>